Atzael Ben Campos

##                                    _Alcoholic Crime Rates in Tennessee_

## (do dry counties have more crime rates than wet counties/moist counties or vice versa because of the inability or ability to purchase alcohol ?)

### Background:

    
        Alcohol Laws Of Tennessee
        
        The Alcohol laws of Tennessee are distinct in that they vary considerably by county.
        
        Local government jurisdictions (counties & municipalities) in Tennessee by default are dry and do not allow
        the sales of liquor or wine. These governments must amend the laws to allow for liquor-by-the-drink sales
        and retail package stores. In many cases, the county may be dry, but a municipality is wet. 
        
        Selling beer does not impact a dry or wet designation.
        

      
- Dry Counties

    In a "dry County", the sale of alcohol and alcoholic beverages is prohibited or restricted - 10 out of 
    Tennessee's 95 counties are completely dry.
    
    
- Wet Counties
    
    The designation of a "wet county" applies to jurisdictions where the sale of alcohol and alcoholic beverages is
    permitted - 10 out of Tennessee's 95 counties are wet. The state's four largest cities, Memphis (Shelby),
    Nashville (Davidson), Knoxville (Knox), and Chattanooga (Hamilton), are located in "wet counties".
    

- Moist Counties
    
    In a "moist county", the sale of alcohol and alcoholic beverages in certain jurisdictions is permitted. This 
    designation applies to 75 out of Tennessee's 95 counties.

### Scope:

       The project scope of Drunk Driving Accidents and their suspected motive to drink and drive may be influenced
       on the negative appeal the county may have on distribution of alcohol. This project has several counties in 
       mind.
       
       Counties:
       
       (Wet Counties)
               -- The wet counties are:
               
               1.
               2.
               3.
               4.
               5.
       
       (Dry Counties)
               -- The dry counties are:
               
               1. Parkerfield, Kansas (Cowley County)
               2. Hesston, North Newton, Kansas (Harvey County)
               3.
               4.
               5.

** The crimes that are specifically targeted are DUI or Drunkenness, only 'Group B Arrests' will be analyzed since DUI, Drunkenness, and Liquor Law Violations fall under that category of Arrests. 

Other crimes within Group B arrests are Bad Checks, Curfew/Vagrancy, Disorderly Conduct (may be linked to drunkenness), Drunkenness, Family-Non Violent, Liquor Law Violations, Peeping Tom, Runaway, Trespass, All other offenses, and Total Group B.

But I will still keep some crimes in mind such as Murder, Negligent Manslaughter, Negligent Vehicular Manslaugther, Aggravated Assault, Burglary, Motor Vehicle Theft and maybe these are directly or indirectly influenced by DUI or drunkeness crimes.



** Definitions of Crimes in Group B Arrests.

The National Incident-Based Reporting System (NIBRS) is an incident-based reporting system used by law enforcement agencies in the United States for collecting and reporting data on crimes. Local, state, and federal agencies generate NIBRS data from their records management systems. In addition to the Group A offenses, 10 Group B offenses are reported with only the arrest information.
There are 11 Group B Offense Categories and they encompass all of the crimes that are not Group A offenses, witht the exception of most traffic offenses. 

---NIBRS Group B offense Definitions

_Driving Under the Influence_ Definition: Driving or operating a motor vehicle or common carrier while mentally or physically impaired as the result of consuming an alcoholic beverage or using a drug or narcotic.

_Drunkenness_ Definition: To drink alcoholic beverages to the extent that one's mental faculties and physical coordination are substantially impaired.

_Liquor Law Violations_ Definition: The violation of laws or ordinances prohibiting the manufacture, sale, purchase, transportation, possession, or use of alcholic beverages.

### Why?

I am personally interested in this topic because there is no dataset out there that contains two different counties and their difference in crime rates. These crime rates may or may not differ.

I know there is going to be a lot of crime rates in the counties but the ones that are going to stand out the most
for this data set and project are crimes that are DUI's and maybe even any crimes committed while intoxicated. 
    
    The intoxicated crime set will be set aside from DUI's since this project is highlighting drunk driving in 
    different counties with different regulations.

In [18]:
import pandas as pd

## Creating Data Frame for Counties 

In this section I create manual dictionaries that contain appropriate data from the tab above labeled (Information Gathered)
in the past section the websites are mentioned for reference are then transposed to Data Frames using the pd.Concat function to append all 
data frames together. 

I have decided to implement an attribute that contains the County Name Information, it is not productive to have
a data frame for each and every County. It is easy to manipulate the differences in Counties by having them all in one
data frame.

There are 10 Counties in total

### 1. Crockett County

In [53]:
a = {'Year':[2016],
     'County':['Crockett'],
    'Offenses' : [366],
     'Offenses_Cleared' : [126],
     'Total_Arrests' : [407],
     'Bad_Checks' : [32],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [2],
     'DUI':[5],
     'Drunkenness':[5],
     'Family-Non_Violent':[37],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[3],
     'All_other_offenses':[204],
     'Total_Group_B':[288],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[22],
     'Burglary':[49],
     'Motor_Vehicle_Theft':[12]}


b = {'Year':[2017],
     'County':['Crockett'],
    'Offenses' : [321],
     'Offenses_Cleared' : [108],
     'Total_Arrests' : [375],
     'Bad_Checks' : [10],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [6],
     'DUI':[3],
     'Drunkenness':[3],
     'Family-Non_Violent':[25],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[1],
     'All_other_offenses':[228],
     'Total_Group_B':[276],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[34],
     'Burglary':[30],
     'Motor_Vehicle_Theft':[12]}


c = {'Year':[2018],
     'County':['Crockett'],
    'Offenses' : [213],
     'Offenses_Cleared' : [73],
     'Total_Arrests' : [349],
     'Bad_Checks' : [14],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [2],
     'DUI':[7],
     'Drunkenness':[1],
     'Family-Non_Violent':[22],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[5],
     'All_other_offenses':[231],
     'Total_Group_B':[282],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[15],
     'Burglary':[21],
     'Motor_Vehicle_Theft':[20]}


                        ############################ Data Frame transpose ############################


Croc_1 = pd.DataFrame(data=a)   #Crockett County Year 2016
Croc_2 = pd.DataFrame(data=b)   #Crockett County Year 2017
Croc_3 = pd.DataFrame(data=c)   #Crockett County Year 2018

croc_df = pd.concat((Croc_1,Croc_2,Croc_3))

### 2. Fentress County

In [25]:
d = {'Year':[2016],
     'County':['Fentress'],
    'Offenses' : [549],
     'Offenses_Cleared' : [317],
     'Total_Arrests' : [473],
     'Bad_Checks' : [1],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [5],
     'DUI':[30],
     'Drunkenness':[7],
     'Family-Non_Violent':[8],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[3],
     'All_other_offenses':[128],
     'Total_Group_B':[182],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[15],
     'Burglary':[24],
     'Motor_Vehicle_Theft':[21]}


e = {'Year':[2017],
     'County':['Fentress'],
    'Offenses' : [492],
     'Offenses_Cleared' : [314],
     'Total_Arrests' : [646],
     'Bad_Checks' : [1],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [10],
     'DUI':[34],
     'Drunkenness':[30],
     'Family-Non_Violent':[4],
     'Liquor_Law_Violations':[2],
     'Peeping_Tom':[0],
     'Trespass':[10],
     'All_other_offenses':[283],
     'Total_Group_B':[374],
     'Murder':[1],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[14],
     'Burglary':[24],
     'Motor_Vehicle_Theft':[15]}



f = {'Year':[2018],
     'County':['Fentress'],
    'Offenses' : [599],
     'Offenses_Cleared' : [371],
     'Total_Arrests' : [572],
     'Bad_Checks' : [1],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [7],
     'DUI':[22],
     'Drunkenness':[15],
     'Family-Non_Violent':[1],
     'Liquor_Law_Violations':[1],
     'Peeping_Tom':[0],
     'Trespass':[9],
     'All_other_offenses':[224],
     'Total_Group_B':[280],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[25],
     'Burglary':[62],
     'Motor_Vehicle_Theft':[20]}



                        ############################ Data Frame transpose ############################


Fentres_1 = pd.DataFrame(data=d)   #Fentress County Year 2016
Fentres_2 = pd.DataFrame(data=e)   #Fentress County Year 2017
Fentres_3 = pd.DataFrame(data=f)   #Fentress County Year 2018


fent_df = pd.concat((Fentres_1,Fentres_2,Fentres_3))

### 3. Hancock County

In [28]:
g = {'Year':[2016],
     'County':['Hancock'],
    'Offenses' : [131],
     'Offenses_Cleared' : [32],
     'Total_Arrests' : [84],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [0],
     'DUI':[10],
     'Drunkenness':[3],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[2],
     'All_other_offenses':[32],
     'Total_Group_B':[47],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[2],
     'Burglary':[17],
     'Motor_Vehicle_Theft':[11]}



h = {'Year':[2017],
     'County':['Hancock'],
    'Offenses' : [99],
     'Offenses_Cleared' : [30],
     'Total_Arrests' : [65],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [0],
     'DUI':[3],
     'Drunkenness':[2],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[1],
     'Peeping_Tom':[0],
     'Trespass':[0],
     'All_other_offenses':[33],
     'Total_Group_B':[39],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[5],
     'Burglary':[3],
     'Motor_Vehicle_Theft':[7]}



i = {'Year':[2018],
     'County':['Hancock'],
    'Offenses' : [137],
     'Offenses_Cleared' : [53],
     'Total_Arrests' : [150],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [3],
     'DUI':[7],
     'Drunkenness':[8],
     'Family-Non_Violent':[4],
     'Liquor_Law_Violations':[1],
     'Peeping_Tom':[0],
     'Trespass':[3],
     'All_other_offenses':[75],
     'Total_Group_B':[101],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[1],
     'Burglary':[1],
     'Motor_Vehicle_Theft':[7]}



                        ############################ Data Frame transpose ############################


Hancock_1 = pd.DataFrame(data=g)   #Hancock County Year 2016
Hancock_2 = pd.DataFrame(data=h)   #Hancock County Year 2017
Hancock_3 = pd.DataFrame(data=i)   #Hancock County Year 2018


hanc_df = pd.concat((Hancock_1,Hancock_2,Hancock_3))

### 4. Houston County

In [32]:

j = {'Year':[2016],
     'County':['Houston'],
    'Offenses' : [151],
     'Offenses_Cleared' : [74],
     'Total_Arrests' : [173],
     'Bad_Checks' : [2],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [1],
     'DUI':[5],
     'Drunkenness':[5],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[1],
     'All_other_offenses':[94],
     'Total_Group_B':[108],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[11],
     'Burglary':[18],
     'Motor_Vehicle_Theft':[2]}



k = {'Year':[2017],
     'County':['Houston'],
    'Offenses' : [121],
     'Offenses_Cleared' : [53],
     'Total_Arrests' : [99],
     'Bad_Checks' : [1],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [0],
     'DUI':[4],
     'Drunkenness':[2],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[1],
     'Peeping_Tom':[0],
     'Trespass':[2],
     'All_other_offenses':[41],
     'Total_Group_B':[51],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[11],
     'Burglary':[12],
     'Motor_Vehicle_Theft':[4]}


l = {'Year':[2018],
     'County':['Houston'],
    'Offenses' : [251],
     'Offenses_Cleared' : [99],
     'Total_Arrests' : [258],
     'Bad_Checks' : [3],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [3],
     'DUI':[7],
     'Drunkenness':[4],
     'Family-Non_Violent':[1],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[3],
     'All_other_offenses':[144],
     'Total_Group_B':[165],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[16],
     'Burglary':[22],
     'Motor_Vehicle_Theft':[12]}



                        ############################ Data Frame transpose ############################


Houston_1 = pd.DataFrame(data=j)   #Houston County Year 2016
Houston_2 = pd.DataFrame(data=k)   #Houston County Year 2017
Houston_3 = pd.DataFrame(data=l)   #Houston County Year 2018

hous_df = pd.concat((Houston_1,Houston_2,Houston_3))

### 5. Lake County

In [35]:
m = {'Year':[2016],
     'County':['Lake'],
    'Offenses' : [8],
     'Offenses_Cleared' : [3],
     'Total_Arrests' : [205],
     'Bad_Checks' : [8],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [1],
     'DUI':[2],
     'Drunkenness':[0],
     'Family-Non_Violent':[4],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[2],
     'All_other_offenses':[185],
     'Total_Group_B':[202],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[1],
     'Burglary':[0],
     'Motor_Vehicle_Theft':[0]}


n = {'Year':[2017],
     'County':['Lake'],
    'Offenses' : [62],
     'Offenses_Cleared' : [43],
     'Total_Arrests' : [277],
     'Bad_Checks' : [3],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [3],
     'DUI':[3],
     'Drunkenness':[0],
     'Family-Non_Violent':[12],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[6],
     'All_other_offenses':[201],
     'Total_Group_B':[228],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[2],
     'Burglary':[1],
     'Motor_Vehicle_Theft':[2]}


o = {'Year':[2018],
     'County':['Lake'],
    'Offenses' : [77],
     'Offenses_Cleared' : [34],
     'Total_Arrests' : [46],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [3],
     'DUI':[1],
     'Drunkenness':[1],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[2],
     'All_other_offenses':[5],
     'Total_Group_B':[12],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[4],
     'Burglary':[8],
     'Motor_Vehicle_Theft':[3]}



                        ############################ Data Frame transpose ############################


Lake_1 = pd.DataFrame(data=m)   #Lake County Year 2016
Lake_2 = pd.DataFrame(data=n)   #Lake County Year 2017
Lake_3 = pd.DataFrame(data=o)   #Lake County Year 2018


lake_df = pd.concat((Lake_1,Lake_2,Lake_3))            ##concat dfs

### 6. Meigs County

In [37]:
#### (2016) Meigs County

p = {'Year':[2016],
     'County':['Meigs'],
    'Offenses' : [555],
     'Offenses_Cleared' : [150],
     'Total_Arrests' : [429],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [4],
     'DUI':[9],
     'Drunkenness':[10],
     'Family-Non_Violent':[24],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[6],
     'All_other_offenses':[258],
     'Total_Group_B':[311],
     'Murder':[1],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[35],
     'Burglary':[82],
     'Motor_Vehicle_Theft':[40]}


#### (2017) Meigs County


q = {'Year':[2017],
     'County':['Meigs'],
    'Offenses' : [636],
     'Offenses_Cleared' : [167],
     'Total_Arrests' : [329],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [6],
     'DUI':[10],
     'Drunkenness':[4],
     'Family-Non_Violent':[5],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[1],
     'All_other_offenses':[181],
     'Total_Group_B':[207],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[43],
     'Burglary':[98],
     'Motor_Vehicle_Theft':[40]}




### (2018) Meigs County

r = {'Year':[2018],
     'County':['Meigs'],
    'Offenses' : [654],
     'Offenses_Cleared' : [201],
     'Total_Arrests' : [361],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [2],
     'DUI':[5],
     'Drunkenness':[4],
     'Family-Non_Violent':[9],
     'Liquor_Law_Violations':[1],
     'Peeping_Tom':[0],
     'Trespass':[8],
     'All_other_offenses':[179],
     'Total_Group_B':[208],
     'Murder':[1],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[50],
     'Burglary':[84],
     'Motor_Vehicle_Theft':[52]}



                        ############################ Data Frame transpose ############################


Meig_1 = pd.DataFrame(data=p)   #Meigs County Year 2016
Meig_2 = pd.DataFrame(data=q)   #Meigs County Year 2017
Meig_3 = pd.DataFrame(data=r)   #Meigs County Year 2018


meig_df = pd.concat((Meig_1,Meig_2,Meig_3))            ##concat dfs

### 7. Moore County

In [39]:
#### (2016) Moore County

s = {'Year':[2016],
     'County':['Moore'],
    'Offenses' : [194],
     'Offenses_Cleared' : [63],
     'Total_Arrests' : [160],
     'Bad_Checks' : [2],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [1],
     'DUI':[27],
     'Drunkenness':[3],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[0],
     'All_other_offenses':[65],
     'Total_Group_B':[98],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[5],
     'Burglary':[5],
     'Motor_Vehicle_Theft':[1]}


#### (2017) Moore County

t = {'Year':[2017],
     'County':['Moore'],
    'Offenses' : [312],
     'Offenses_Cleared' : [159],
     'Total_Arrests' : [252],
     'Bad_Checks' : [8],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [0],
     'DUI':[13],
     'Drunkenness':[5],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[2],
     'Peeping_Tom':[0],
     'Trespass':[0],
     'All_other_offenses':[84],
     'Total_Group_B':[112],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[13],
     'Burglary':[8],
     'Motor_Vehicle_Theft':[14]}


#### (2018) Moore County

u = {'Year':[2018],
     'County':['Moore'],
    'Offenses' : [267],
     'Offenses_Cleared' : [119],
     'Total_Arrests' : [243],
     'Bad_Checks' : [7],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [3],
     'DUI':[8],
     'Drunkenness':[9],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[2],
     'Peeping_Tom':[0],
     'Trespass':[0],
     'All_other_offenses':[101],
     'Total_Group_B':[130],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[11],
     'Burglary':[11],
     'Motor_Vehicle_Theft':[5]}


                        ############################ Data Frame transpose ############################


Moor_1 = pd.DataFrame(data=s)   #Moore County Year 2016
Moor_2 = pd.DataFrame(data=t)   #Moore County Year 2017
Moor_3 = pd.DataFrame(data=u)   #Moore County Year 2018


moor_df = pd.concat((Moor_1,Moor_2,Moor_3))            ##concat dfs

### 8. Morgan County

In [40]:
#### (2016) Morgan County


v = {'Year':[2016],
     'County':['Morgan'],
    'Offenses' : [753],
     'Offenses_Cleared' : [353],
     'Total_Arrests' : [761],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [4],
     'DUI':[11],
     'Drunkenness':[10],
     'Family-Non_Violent':[0],
     'Liquor_Law_Violations':[1],
     'Peeping_Tom':[0],
     'Trespass':[12],
     'All_other_offenses':[434],
     'Total_Group_B':[472],
     'Murder':[2],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[42],
     'Burglary':[121],
     'Motor_Vehicle_Theft':[44]}


#### (2017) Morgan County

w = {'Year':[2017],
     'County':['Morgan'],
    'Offenses' : [734],
     'Offenses_Cleared' : [365],
     'Total_Arrests' : [694],
     'Bad_Checks' : [1],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [7],
     'DUI':[13],
     'Drunkenness':[14],
     'Family-Non_Violent':[3],
     'Liquor_Law_Violations':[0],
     'Peeping_Tom':[0],
     'Trespass':[8],
     'All_other_offenses':[371],
     'Total_Group_B':[417],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[52],
     'Burglary':[99],
     'Motor_Vehicle_Theft':[54]}


#### (2018) Morgan County

x = {'Year':[2018],
     'County':['Morgan'],
    'Offenses' : [792],
     'Offenses_Cleared' : [357],
     'Total_Arrests' : [653],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [5],
     'DUI':[12],
     'Drunkenness':[12],
     'Family-Non_Violent':[3],
     'Liquor_Law_Violations':[1],
     'Peeping_Tom':[0],
     'Trespass':[8],
     'All_other_offenses':[309],
     'Total_Group_B':[350],
     'Murder':[1],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[62],
     'Burglary':[79],
     'Motor_Vehicle_Theft':[66]}



                        ############################ Data Frame transpose ############################


Morg_1 = pd.DataFrame(data=v)   #Morgan County Year 2016
Morg_2 = pd.DataFrame(data=w)   #Morgan County Year 2017
Morg_3 = pd.DataFrame(data=x)   #Morgan County Year 2018


morg_df = pd.concat((Morg_1,Morg_2,Morg_3))            ##concat dfs

### 9. Stewart County

In [41]:
#### (2016) Stewart County

y = {'Year':[2016],
     'County':['Stewart'],
    'Offenses' : [379],
     'Offenses_Cleared' : [202],
     'Total_Arrests' : [532],
     'Bad_Checks' : [1],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [4],
     'DUI':[20],
     'Drunkenness':[12],
     'Family-Non_Violent':[1],
     'Liquor_Law_Violations':[4],
     'Peeping_Tom':[0],
     'Trespass':[3],
     'All_other_offenses':[338],
     'Total_Group_B':[383],
     'Murder':[2],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[49],
     'Burglary':[70],
     'Motor_Vehicle_Theft':[11]}

#### (2017) Stewart County

z = {'Year':[2017],
     'County':['Stewart'],
    'Offenses' : [378],
     'Offenses_Cleared' : [248],
     'Total_Arrests' : [700],
     'Bad_Checks' : [3],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [4],
     'DUI':[60],
     'Drunkenness':[6],
     'Family-Non_Violent':[2],
     'Liquor_Law_Violations':[3],
     'Peeping_Tom':[0],
     'Trespass':[4],
     'All_other_offenses':[400],
     'Total_Group_B':[482],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[25],
     'Burglary':[47],
     'Motor_Vehicle_Theft':[18]}


#### (2018) Stewart County

last_let = {'Year':[2018],
     'County':['Stewart'],
    'Offenses' : [393],
     'Offenses_Cleared' : [237],
     'Total_Arrests' : [669],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [0],
     'DUI':[37],
     'Drunkenness':[8],
     'Family-Non_Violent':[1],
     'Liquor_Law_Violations':[6],
     'Peeping_Tom':[0],
     'Trespass':[5],
     'All_other_offenses':[406],
     'Total_Group_B':[463],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[24],
     'Burglary':[47],
     'Motor_Vehicle_Theft':[17]}



                        ############################ Data Frame transpose ############################


Stew_1 = pd.DataFrame(data=y)   #Stewart County Year 2016
Stew_2 = pd.DataFrame(data=z)   #Stewart County Year 2017
Stew_3 = pd.DataFrame(data=last_let)   #Stewart County Year 2018


stew_df = pd.concat((Stew_1,Stew_2,Stew_3))            ##concat dfs

### 10. Union County

In [42]:
#### (2016) Union County

aa = {'Year':[2016],
     'County':['Union'],
    'Offenses' : [933],
     'Offenses_Cleared' : [482],
     'Total_Arrests' : [1256],
     'Bad_Checks' : [6],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [15],
     'DUI':[74],
     'Drunkenness':[32],
     'Family-Non_Violent':[81],
     'Liquor_Law_Violations':[13],
     'Peeping_Tom':[0],
     'Trespass':[15],
     'All_other_offenses':[632],
     'Total_Group_B':[868],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[27],
     'Burglary':[117],
     'Motor_Vehicle_Theft':[31]}


#### (2017) Union County

bb = {'Year':[2017],
     'County':['Union'],
    'Offenses' : [689],
     'Offenses_Cleared' : [394],
     'Total_Arrests' : [1067],
     'Bad_Checks' : [4],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [15],
     'DUI':[57],
     'Drunkenness':[17],
     'Family-Non_Violent':[46],
     'Liquor_Law_Violations':[6],
     'Peeping_Tom':[0],
     'Trespass':[12],
     'All_other_offenses':[595],
     'Total_Group_B':[752],
     'Murder':[3],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[39],
     'Burglary':[75],
     'Motor_Vehicle_Theft':[25]}


#### (2018) Union County

cc = {'Year':[2018],
     'County':['Union'],
    'Offenses' : [633],
     'Offenses_Cleared' : [333],
     'Total_Arrests' : [1004],
     'Bad_Checks' : [0],
     'Curfew/Vagrancy' : [0],
     'Disorderly_Conduct' : [7],
     'DUI':[36],
     'Drunkenness':[19],
     'Family-Non_Violent':[58],
     'Liquor_Law_Violations':[3],
     'Peeping_Tom':[0],
     'Trespass':[6],
     'All_other_offenses':[602],
     'Total_Group_B':[731],
     'Murder':[0],
     'Negligent_Manslaughter':[0],
     'Negligent_Vehicular_Manslaughter':[0],
     'Aggravated_Assault':[28],
     'Burglary':[57],
     'Motor_Vehicle_Theft':[24]}



                        ############################ Data Frame transpose ############################


Unio_1 = pd.DataFrame(data=aa)   #Union County Year 2016
Unio_2 = pd.DataFrame(data=bb)   #Union County Year 2017
Unio_3 = pd.DataFrame(data=cc)   #Union County Year 2018


unio_df = pd.concat((Unio_1,Unio_2,Unio_3))            ##concat dfs

### Merging data frames

In [48]:
# concatenating all data frames to one 

master_df = pd.concat((croc_df,fent_df,hanc_df,hous_df,lake_df,meig_df,moor_df,morg_df,stew_df,unio_df))

In [49]:
master_df

,Year,County,Offenses,Offenses_Cleared,Total_Arrests,Bad_Checks,Curfew/Vagrancy,Disorderly_Conduct,DUI,Drunkenness,...,Peeping_Tom,Trespass,All_other_offenses,Total_Group_B,Murder,Negligent_Manslaughter,Negligent_Vehicular_Manslaughter,Aggravated_Assault,Burglary,Motor_Vehicle_Theft
0,2016,Crockett,366,126,407,32,0,2,5,5,...,0,3,204,288,0,0,0,22,49,12
0,2017,Crockett,321,108,375,10,0,6,3,3,...,0,1,228,276,0,0,0,34,30,12
0,2018,Crockett,213,73,349,14,0,2,7,1,...,0,5,231,282,0,0,0,15,21,20
0,2016,Fentress,549,317,473,1,0,5,30,7,...,0,3,128,182,0,0,0,15,24,21
0,2017,Fentress,492,314,646,1,0,10,34,30,...,0,10,283,374,1,0,0,14,24,15
0,2018,Fentress,599,371,572,1,0,7,22,15,...,0,9,224,280,0,0,0,25,62,20
0,2016,Hancock,131,32,84,0,0,0,10,3,...,0,2,32,47,0,0,0,2,17,11
0,2017,Hancock,99,30,65,0,0,0,3,2,...,0,0,33,39,0,0,0,5,3,7
0,2018,Hancock,137,53,150,0,0,3,7,8,...,0,3,75,101,0,0,0,1,1,7
0,2016,Houston,151,74,173,2,0,1,5,5,...,0,1,94,108,0,0,0,11,18,2
0,2017,Houston,121,53,99,1,0,0,4,2,...,0,2,41,51,0,0,0,11,12,4
0,2018,Houston,251,99,258,3,0,3,7,4,...,0,3,144,165,0,0,0,16,22,12
0,2016,Lake,8,3,205,8,0,1,2,0,...,0,2,185,202,0,0,0,1,0,0
0,2017,Lake,62,43,277,3,0,3,3,0,...,0,6,201,228,0,0,0,2,1,2
0,2018,Lake,77,34,46,0,0,3,1,1,...,0,2,5,12,0,0,0,4,8,3
0,2016,Meigs,555,150,429,0,0,4,9,10,...,0,6,258,311,1,0,0,35,82,40
0,2017,Meigs,636,167,329,0,0,6,10,4,...,0,1,181,207,0,0,0,43,98,40
0,2018,Meigs,654,201,361,0,0,2,5,4,...,0,8,179,208,1,0,0,50,84,52
0,2016,Moore,194,63,160,2,0,1,27,3,...,0,0,65,98,0,0,0,5,5,1
0,2017,Moore,312,159,252,8,0,0,13,5,...,0,0,84,112,0,0,0,13,8,14
0,2018,Moore,267,119,243,7,0,3,8,9,...,0,0,101,130,0,0,0,11,11,5
0,2016,Morgan,753,353,761,0,0,4,11,10,...,0,12,434,472,2,0,0,42,121,44
0,2017,Morgan,734,365,694,1,0,7,13,14,...,0,8,371,417,0,0,0,52,99,54
0,2018,Morgan,792,357,653,0,0,5,12,12,...,0,8,309,350,1,0,0,62,79,66
0,2016,Stewart,379,202,532,1,0,4,20,12,...,0,3,338,383,2,0,0,49,70,11
0,2017,Stewart,378,248,700,3,0,4,60,6,...,0,4,400,482,0,0,0,25,47,18
0,2018,Stewart,393,237,669,0,0,0,37,8,...,0,5,406,463,0,0,0,24,47,17
0,2016,Union,933,482,1256,6,0,15,74,32,...,0,15,632,868,0,0,0,27,117,31
0,2017,Union,689,394,1067,4,0,15,57,17,...,0,12,595,752,3,0,0,39,75,25
0,2018,Union,633,333,1004,0,0,7,36,19,...,0,6,602,731,0,0,0,28,57,24

let's take a look at the data that has been hidden because of size formatting


Doing so will show all variables in notebook

In [50]:
pd.options.display.max_columns = 50

now the data is scrollable to view all data

In [51]:
master_df

,Year,County,Offenses,Offenses_Cleared,Total_Arrests,Bad_Checks,Curfew/Vagrancy,Disorderly_Conduct,DUI,Drunkenness,Family-Non_Violent,Liquor_Law_Violations,Peeping_Tom,Trespass,All_other_offenses,Total_Group_B,Murder,Negligent_Manslaughter,Negligent_Vehicular_Manslaughter,Aggravated_Assault,Burglary,Motor_Vehicle_Theft
0,2016,Crockett,366,126,407,32,0,2,5,5,37,0,0,3,204,288,0,0,0,22,49,12
0,2017,Crockett,321,108,375,10,0,6,3,3,25,0,0,1,228,276,0,0,0,34,30,12
0,2018,Crockett,213,73,349,14,0,2,7,1,22,0,0,5,231,282,0,0,0,15,21,20
0,2016,Fentress,549,317,473,1,0,5,30,7,8,0,0,3,128,182,0,0,0,15,24,21
0,2017,Fentress,492,314,646,1,0,10,34,30,4,2,0,10,283,374,1,0,0,14,24,15
0,2018,Fentress,599,371,572,1,0,7,22,15,1,1,0,9,224,280,0,0,0,25,62,20
0,2016,Hancock,131,32,84,0,0,0,10,3,0,0,0,2,32,47,0,0,0,2,17,11
0,2017,Hancock,99,30,65,0,0,0,3,2,0,1,0,0,33,39,0,0,0,5,3,7
0,2018,Hancock,137,53,150,0,0,3,7,8,4,1,0,3,75,101,0,0,0,1,1,7
0,2016,Houston,151,74,173,2,0,1,5,5,0,0,0,1,94,108,0,0,0,11,18,2
0,2017,Houston,121,53,99,1,0,0,4,2,0,1,0,2,41,51,0,0,0,11,12,4
0,2018,Houston,251,99,258,3,0,3,7,4,1,0,0,3,144,165,0,0,0,16,22,12
0,2016,Lake,8,3,205,8,0,1,2,0,4,0,0,2,185,202,0,0,0,1,0,0
0,2017,Lake,62,43,277,3,0,3,3,0,12,0,0,6,201,228,0,0,0,2,1,2
0,2018,Lake,77,34,46,0,0,3,1,1,0,0,0,2,5,12,0,0,0,4,8,3
0,2016,Meigs,555,150,429,0,0,4,9,10,24,0,0,6,258,311,1,0,0,35,82,40
0,2017,Meigs,636,167,329,0,0,6,10,4,5,0,0,1,181,207,0,0,0,43,98,40
0,2018,Meigs,654,201,361,0,0,2,5,4,9,1,0,8,179,208,1,0,0,50,84,52
0,2016,Moore,194,63,160,2,0,1,27,3,0,0,0,0,65,98,0,0,0,5,5,1
0,2017,Moore,312,159,252,8,0,0,13,5,0,2,0,0,84,112,0,0,0,13,8,14
0,2018,Moore,267,119,243,7,0,3,8,9,0,2,0,0,101,130,0,0,0,11,11,5
0,2016,Morgan,753,353,761,0,0,4,11,10,0,1,0,12,434,472,2,0,0,42,121,44
0,2017,Morgan,734,365,694,1,0,7,13,14,3,0,0,8,371,417,0,0,0,52,99,54
0,2018,Morgan,792,357,653,0,0,5,12,12,3,1,0,8,309,350,1,0,0,62,79,66
0,2016,Stewart,379,202,532,1,0,4,20,12,1,4,0,3,338,383,2,0,0,49,70,11
0,2017,Stewart,378,248,700,3,0,4,60,6,2,3,0,4,400,482,0,0,0,25,47,18
0,2018,Stewart,393,237,669,0,0,0,37,8,1,6,0,5,406,463,0,0,0,24,47,17
0,2016,Union,933,482,1256,6,0,15,74,32,81,13,0,15,632,868,0,0,0,27,117,31
0,2017,Union,689,394,1067,4,0,15,57,17,46,6,0,12,595,752,3,0,0,39,75,25
0,2018,Union,633,333,1004,0,0,7,36,19,58,3,0,6,602,731,0,0,0,28,57,24

## Information about Dry Counties:
        
    The link provided will lead you to a Wikipedia page about the three states that are entirely dry by default in the U.S.
    (https://en.wikipedia.org/wiki/List_of_dry_communities_by_U.S._state)

The 3 states that are automatically Dry by default are 

    -Kansas
    -Mississippi
    -Tennessee
    
 **This does not mean that the entire state does not sell alcohol.
 
 Counties must specifically authorize the sale of alcohol in order for it to be legal and subject to liquor
 control laws.
 
 
 -- The data that will be provided for this project consists of counties that are not necesssarily from Kansas,
    Mississippi, or Tennessee. There are some counties that have designated areas where the sell of alcohol is
    prohibited. 
    
    Such as.
    -

** Some articles clain that the main advantage of having a dry county aside from moral code is that the crime
   rates are lower compared to wet counties. What I am trying to achieve with this personal project is to show
   convoluted data sets and statistical analysis to further vindicate that wet counties have more crimes than
   dry counties.

## Showcasing the datasets
    - dry counties

Using Pandas we can create a Data Frame for this county information that is 
only displayed through a descriptive pdf file.

(Kansas Bureau of Investigation)
Link is here for credits - http://www.kansas.gov/kbi/stats/docs/pdf/Crime%20Index%202017.pdf

## Citations of work:
        1.(https://en.wikipedia.org/wiki/List_of_dry_communities_by_U.S._state)
        2.(https://www.worldatlas.com/articles/dry-counties-of-the-united-states.html)
        3. Kansas Adult Arrests 2017-http://www.kansas.gov/kbi/stats/docs/pdf/2017%20Adult%20Arrests.pdf
        4. https://en.m.wikipedia.org/wiki/Alcohol_laws_of_Tennessee
        5. https://www.paucrs.pa.gov/UCR/Help/HlpIbrGroupBUCRCodes.htm
        6. https://en.wikipedia.org/wiki/National_Incident-Based_Reporting_System
        7. https://www.dor.ms.gov/ABC/Pages/WetDryMap-Beer-Wine.aspx